.jumbotron {
  margin-top: 20px;
  height: 200px;
}

div[target] {
  display:none;
}

#hide {
  display:none;
  float: right;
}

#show {
  float: left;
}

h3 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: lightgray;
  padding: 5px;
}